* {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
}

main {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	grid-template-areas:
		"navbar navbar"
		"welcome"
		"photo content";
}

#navbar {
	border: 2px solid black;
	margin: 0;
	grid-column: 1 / span 2;
	width: 100vw;
}

#welcome-section {
	border: 2px solid black;
	margin: 0;
	grid-column: 1 / span 2;
	justify-self: center;
	background: url(../assets/images/IMG_6911.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	width: 90vw;
	height: 50vh;
}

.welcome-section__text {
	margin: 0;
}
